{{define "view/list"}}<template>
    <div class="app-container">
        <el-container>
  
        
     <el-row>
            <el-form :inline="true" v-model="cond"  class="demo-form-inline">
      <el-form-item label="关键字">
        <el-input type="text" placeholder="名称或内容" v-model="cond.kword"></el-input>
      </el-form-item>
      <el-form-item label="创建时间">
        <el-date-picker
                     
                      v-model="cond.daterange"
                      type="datetimerange"
                      align="right"
                      start-placeholder="开始日期"
                      end-placeholder="结束日期"
                      :default-time="['12:00:00', '08:00:00']">
                    </el-date-picker>
      </el-form-item>
      <el-form-item>
      <el-button-group>
      <el-button type="primary" @click="search">搜索</el-button>
      
      </el-button-group>
      </el-form-item>
  
            </el-form>
      </el-row>
      
      <el-table @selection-change="selectionchange" :data="dataList" :row-class-name="tableRowClassName" style="width: 100%;" border>
        <el-table-column align="header-center" label="序号" type="selection">    
        </el-table-column>
        {{range $i,$v := .Columns}}
        <el-table-column align="header-center" label="{{$v.ColumnName}}" width="100">
          <template slot-scope="scope" v-text="scope.row.{{$v.ColumnName}}">

          </template>
        </el-table-column>
       {{end}}
       
       
        <el-table-column align="center" label="操作">
          <template slot-scope="scope">
           <el-button-group>
            <el-button type="primary" size="small" @click="handleEdit(scope)">修改</el-button>
            <el-popconfirm title="确定要删除该记录吗?" @onConfirm="handleDelete(scope)">
                 <el-button slot="reference" type="danger" size="small" >删除</el-button>
            </el-popconfirm>
           </el-button-group>
          </template>
        </el-table-column>
      </el-table>
         
          
   <el-footer>
       <el-pagination
       background
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="cond.pagefrom"
        :page-sizes="[5,8,10,20,100, 200, 300, 400]"
        :page-size="cond.pagesize"
        layout="total, sizes, prev, pager, next"
        :total="cond.total">
      </el-pagination>
     </el-footer>
   
  
  
    <el-dialog
    :title="dialogType==='edit'?'修改':'添加'"
    :visible.sync="dialogVisible"
    :direction="dialogType==='edit'?'rtl':'ltr'"
    ref="drawer"
    >
      
        <el-form :model="dataobject" label-width="80px" style="margin-left:20px;margin-right:20px" label-position="left">
            {{range $i,$v := .Columns}}
          <el-form-item label="{{$v.Comment}}">
                    <el-input v-model="dataobject.{{$v.ColumnName}}" placeholder="输入"></el-input>
          </el-form-item> 
          {{end}}
         
          <div style="text-align:right;">
          <el-button type="danger" @click="dialogVisible=false">取消</el-button>
          <el-button type="primary" @click="confirmData">确认并提交</el-button>
        </div>
  
        </el-form>
        
       
      </el-dialog>
      
  
        </el-container>
          </div>
  </template>
  
<script>
  import {deepClone} from "@/utils/index" 
  import { search,update,create ,deleteIt} from '@/api/{{.ModelL}}'
  const defaultObject = {
    id:0,
    daterange:[]
  }
  
  export default {
   
    data() {
    
      return {
       
        dataobject: Object.assign({}, defaultObject),
     
        dataList: [],
        dialogVisible: false,
        dialogType: 'new',
        checkStrictly: false,
        cond:{
          pagefrom:1,
          pagesize:10,
          kword:"",
          total:-1,
          daterange:[],
          }
      }
    },
    computed: {
      routesData() {
        return this.routes
      }
    },
    created() {
    
      this.search()
    },
    methods: {
      selectionchange(rows){
            let tmp = []
            rows.forEach(element => {
                  tmp.push(element.deviceno)
            });
            this.devicenos = tmp;
          
      },
     
      datechange(a){
         
          this.dataobject.daterange = a
      },
      
      handleSizeChange(n){
          this.cond.pagesize = n
          this.search()
      },
      handleCurrentChange(p){
          this.cond.pagefrom = p
          this.search()
      },
      tableRowClassName({row, rowIndex}) {
          if (row.requireAuth) {
            return 'warning-row';
          }
          return '';
        },
      async search() {
        let datearg = {
          
        } 
        
        if(this.cond.daterange && this.cond.daterange.length>0){
          datearg.datefrom = this.cond.daterange[0].format("yyyy-MM-dd hh:mm:ss")
          datearg.dateto = this.cond.daterange[1].format("yyyy-MM-dd hh:mm:ss")
        }
        const res = await search(Object.assign(Object.assign({},this.cond,datearg)))
        this.dataList = res.rows
        this.cond.total = res.total
      },
      
      handleAddOne() {
        this.dataobject = Object.assign({}, defaultObject)
       
        this.dialogType = 'new'
        this.dialogVisible = true
      },
      handleEdit(scope) {
        this.dialogType = 'edit'
        this.dialogVisible = true
      
        this.dataobject = deepClone(scope.row)
        //this.dataobject.daterange = [new Date(scope.row.startat),new Date(scope.row.expireat)]
      },
      handleDelete({ $index, row }) {
        console.log('index',$index,row)
           deleteIt(row.id).then(res=>{
             this.dataList.splice($index, 1)
            this.$message({
              type: 'success',
              message: '你已成功删除数据'
            })
           }).catch(err => { console.error(err) })
      },
      
      async confirmData() {
        const isEdit = this.dialogType === 'edit'
       
        if (isEdit) {
          update(Object.assign({},this.dataobject)).then(res=>{
              this.search()
          })
        } else {
          
          const { data } = await create(Object.assign({},this.dataobject,datearg))
          this.dataobject.id = data.id
          this.dataList.push(data)
        }
        this.dialogVisible = false
        this.$notify({
          title: '提示',
          message: "数据添加成功",
          type: 'success'
        })
      }
    }
  }
  </script>
<style lang="scss" scoped>
  </style>
{{end}}  